
.container-grid {
	display:grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px; 
	grid-template-rows: 300px 300px;
}

.dimensions { 
	height: 90%;
	width: 70%;
	object-fit: cover;
	overflow: hidden;
	grid-column: 1;
	grid-row: 1;
}

.minmax {
	height: 100%;
	min-height: 50%;
	width: 70%;
	min-width: 50%;
	overflow: hidden; 
	grid-column: 2;
	grid-row: 1;
}

.alignposition { 
	height: 100%; 
	width: 70%;
	overflow: hidden;
	grid-column: 3;
        grid-row: 1;
	object-fit: cover;
}


