/* adjusting image dimensions using box model properties! */
/* adjusting dimensions for flower headers */
#flowerHeaders {
	width: 100px;
	border-style: solid;
	border-color: black;
	length: 1100px;
	border-color: white;
	border-style: solid;
	margin-top:0px;
	margin-bottom:100px;
	
}

#flowerHeaders { 
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: linear;
}

#flowerHeaders:hover {
	width: 500px;
}


/* below, i'll be adding in the fonts for my h1 welcome tag. */
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 5vw;
	letter-spacing: 2px;
}

/* changing fonts for h2 tags. */
.quotes {
	font-family: "Trirong", sans-serif;
	margin-top: 100px;
	margin-bottom: 100px;
	font-style: italic;
}


	
		
		
