/* adjusting image dimensions using box model properties! */
#flowerHeaders {
/* adjusting dimensions for flower headers */
#flowerHeaders {
	max-width: 100$;
	height: auto;
}







/* below, i'll be adding in the fonts for my h1 welcome tag. */
h1{ 
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 5vw;
	letter-spacing: 2px;
}


	
		
		
