
/* styles for the body section */

body {
	background-color:#f0ece2;
}

/* styles under here will fall in header! */

h1 {
	color: #dfd3c3;
	background-color: ghostwhite;
	border: 1px solid black;
}

/* styles to edit all text color */

p { 
	color: rgb(168, 168, 168)
} 
/* adding background color behind the navigation! */

nav { 
	background-color: ghostwhite;
}









